.content{
    display: flex;
    flex-direction: row;
    margin: 120px 135px;
    margin-top: 0;

    .content__project_case{
        width: 40%;
        margin-top: 15%;
        

        .span_cont{
            
            text-transform: uppercase;
            span:first-child{
                font-family: TT Hoves;
                font-style: normal;
                font-weight: 300;
                font-size: 64px;
                line-height: 64px;
                color: #BDBDBD;
            }
            
            span:last-child{
                font-family: TT Hoves;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 64px;
                color: #333333;
            }
        }

        .arrow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 130px;
            margin-top: 90px;

            div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 52px;
                height: 52px;
                border: 1px solid #F2F2F2;
                cursor: pointer;
            }

            div:hover{
                background-color: #F2F2F2;
            }
        }

        .photo_counter{
            font-family: TT Hoves;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            color:  #BDBDBD;
            margin-top: 90px;
            margin-left: 20px;
            user-select: none;
            position: relative;
    
            svg{
                position: relative;
                top:-5px;
            }
        }

        
    }

    
    .content__photo{
        // width: 50%;
        
        .conten__photo_building{
            width: 100%;
        }
    }
}

.photo_of_project2{
    height: 255px;
}

.button_img{
    position: relative;
    .button_case:hover{
        background-color: #333333;
    }
    .button_case{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 491px;
        height: 207px;
        padding: 48px 0 0 79px;
        background-color: #333333d6;
        cursor: pointer;  

        div:first-child{
            width: 417px;
            font-family: TT Hoves;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 64px;
            color: #FFFFFF;
        }

        div:last-child{
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            color:white;
            svg{
                position: relative;
                left: 9px;
                top: 9px;

            }
        }
    }

}
